/* Styles for Aucteraden by M. C. DeMarco.
   Background pattern from subtlepatterns.com */

/* basics */

* {
    box-sizing:border-box;
}

/* layout */

html, body, div.bodyWrapper {
    box-sizing:border-box;
    margin:0;
    height:100%;
    width:100%;
}

body, div.bodyWrapper {
    height: 100vh;
    margin: 1em;
    min-height:680px;
    overflow:auto;
}

/* an unfortunate mithril necessity */
div.bodyWrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/* font and color */

@font-face {
    font-family: "Fortune Letters";
    src: url(../css/fortune-letters.ttf) format("truetype");
}

body {
    background-image: url('../css/skulls.png');
    font-family: 'Segoe UI', 'Century Gothic', 'Lucida Grande', Tahoma, 'Gill Sans', sans-serif;
    color:#eeeeff;
}

div.wrapper {
    background-color: rgba(179,190,212,0.55); /*23,143,183,0.75); #7B8FB7 was #8E8EDA */
    padding: 3%;
    margin: 1% 10%;
    height:auto;
    border-radius:10px;
    color: #003;
}
div.wrapper.big {
    font-size: large;
    text-align:center;
}

h1, h2, h3, h4, h5, h6, strong, label, th {
    font-family: 'Fortune Letters', Futura, Geneva, sans-serif;
}

h1, h2, h3, h4 {
   text-align:center;
}

h1 {
    margin-bottom:0;
}

h2, h3, h4 {
    margin-top: 0;
    padding-top: 0;
}

button {
    font-family: 'Fortune Letters', Futura, Geneva, sans-serif;
    font-weight:bold;
    font-size: medium;
    padding: 3px 4px;
    margin: 5px;
}
button.mainButton, button.arrow {
    border-radius: 6px;
    background-color: white;
}
button.mainButton {
    font-weight:normal;
}
button.arrow {
    position:absolute;
    border-radius:50%;
    padding: 4px 6px;
    width:auto;
    margin:0 auto;
}

span.bigger {
    font-size: x-large;
    font-weight:bold;
}

span.smaller {
    font-size: 18px;
}

span.bad, span.smaller.bad {
    color: #08089F;
}

span.bigger, span.smaller {
    background-color: rgba(226,225,248,0.75); /*#E1E1F8*/
    border-radius: 3px;
}

span.bigger {
    margin: 4px;
    padding: 4px 8px;
    border: 2px solid #003;
}

span.smaller {
    margin: 4px;
    padding: 4px 8px;
    border: 1px solid #464653;
}

span.smaller.bad {
    border: 1px solid #08089F; /* hue: 240 */
}

.nowrapp {
    white-space:nowrap;
}

a, a:visited, a:hover {
    color: #30306C;
}

div.footer {
    text-align:center;
}
div.footer:last-child {
    padding:1em 0;
}

.scorer div.footer{
    color: #003;
}

img {
    height:30px;
    vertical-align:bottom;
    background-color: white;
    border: 2px solid #38486C;
    border-radius: 50%;
}

div.footer cite {
    display:block;
    font-size:smaller;
}

ul, ol {
    line-height:1.5;
}

p.detail, div.detail {
    font-size: smaller;
    line-height:1;
}

/* mobile */

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
p, input, textarea {
 -webkit-user-select: text;
 -moz-user-select: text;
 -ms-user-select: text;
 user-select: text;
}

table {
    border-collapse: collapse;
    margin-left: 5%;
}

th, td {
    border: 2px solid #38486C;
    padding: 4px;
    text-align:center;
}

table.bordered th {
    text-align:right;
    width: 20%;
} 
table.bordered td {
    width: 10%;
}

td.unbordered, th.unbordered {
    border: 0;
}

.capitalize {
    text-transform: capitalize;
}

input[type=number] {
    width: 4em;
}

/* mithril section, trimmed */

header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}

main {
    display: -webkit-flex;
    display: flex;
}

/* the left column of main contains .versionWrapper, .roundWrapper, and .deckWrapper */
div.leftColumn {
    -webkit-flex: 0 0 400px;
    flex: 0 0 400px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height:660px;
    margin-right:1em;
}

.reserveWrapper {
    text-align:center;
    -webkit-flex: 0 0 175px;
    flex: 0 0 175px;
}

/* .foundationWrapper is the second column in main */

.buttonWrapper, .versionWrapper, .deckWrapper, .roundWrapper, .marketWrapper, .foundationWrapper {
    display: -webkit-flex;
    display: flex;
}
.roundWrapper, .foundationWrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.versionWrapper, .deckWrapper div, .marketWrapper div, .foundationWrapper div {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.foundationWrapper {
    min-height: 660px;
    min-width: 536px;
    position:absolute;
    top:0;
    left:450px;
    -webkit-justify-content: center;
    justify-content: center;
    align-items:center;
    padding:1em;
}
.versionWrapper {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.buttonWrapper {
    -webkit-justify-content: center;
    justify-content: center;
}

.roundWrapper .message {
    text-align:center;
    min-height:20px;
}

/* inside deckWrapper */
div.stock, div.waste, div.play, div.market {
    margin: 5px;
}

/* the popup rules */

div.modal {
    position: fixed;
    top: 15%;
    right: 5%;
    width:50%;
    min-width:300px;
    padding: 10px;
    border: 2px solid #003;
    border-radius: 12px;
    z-index: 3;
    box-shadow:0 1px 8px rgba(123,143,183,0.75);
    background: linear-gradient(rgba(123,143,183,0.75), rgba(123,143,183,0.75)), url('../css/skulls.png');
    text-align:center;
}

div.modal p {
    text-align: justify;
}
/* there is also a div.rules inside the modal */


/* font and color */

@font-face {
    font-family: "Fortune Letters";
    src: url(../css/fortune-letters.ttf) format("truetype");
}


div.message {
    color: coral;
}

div.versionWrapper p, p.description {
    font-style:italic;
    font-size:smaller;
}

p.description {
    text-align:center;
}

/* cards */

/* Sizing
   original card size: 100x150
   teeny size: 62x87
   remix card size: 124x174
   embiggened size: 186x261
   card source file size: 372x522 
*/

img.card {
    width:124px;
    height:174px;
    border-radius:6px;
    background-color: rgba(179,190,212,0.15); /* rgba(123,143,183,0.95);*/
    border:thin solid #003;
    background-size:124px 174px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

div.waste {
    position: relative;
    z-index: 5;
    min-width: 124px;
}

.waste img.card {
    position: absolute;
}

.foundation img.card {
    margin: 5px;
}

/* mobile */

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
p, input, textarea {
 -webkit-user-select: text;
 -moz-user-select: text;
 -ms-user-select: text;
 user-select: text;
}

ol li {
    text-align:left;
}
